*{
  margin:0;
  text-decoration: none;
    box-sizing: border-box;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 5px;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #f5f5f5;
  line-height: 1.6;
  text-decoration: none;
}
.banner{
  background-image: url(images/banner-bg.jpg);
  border-bottom-right-radius: 150px;
  border-bottom-left-radius: 150px;
  height: 130vh;
}

.navbar {
  font-family: 'Calibri', sans-serif;
  padding: 10px;
  top: 0;
  z-index: 20; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 7px; 
  margin-right:10px;
  margin-left: 10px;
  background-color: #0071f8 !important;
  border-radius: 0px 0px 25px 25px;
  height: 80px!important;
  position: fixed!important;
  top: 2!important;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15)!important;
 
}

.logo {
  margin-left: 50px;
  margin-right: 20px;
}

.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

li {
  list-style: none;
  margin-right: 40px;
}

li a {
  color: rgb(245, 245, 245);
  font-size: 17px;
  text-decoration: none;
}

button {
  background-color: #ee626b;
  margin-left: 10px;
  border-radius: 50px;
  padding: 10px;
  width: 100px;
  border: none;
}

button a {
  color: #f5f5f5;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
}

.home-content1{
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-between;
}
.box-panel{
  padding: 20% 8%;
  width: 50%;
  color: white;
}
.box-panel h5{
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
.box-panel h1{
  font-size: 46px;
  font-weight: 700;
  text-transform: uppercase;
}
.box-panel p{
  line-height: 2;
  font-size: 15px;
}
.box-panel .search-bar{
  background-color: white;
  width: 70%;
  height: 14%;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
}
.box-panel .image-caption{
  margin-left: 20%;
}
.box-panel .search-bar input{
  padding: 20px;
  border: none;
  border-radius: 50px;
  font-size: 15px;
  outline: none;
}
.box-panel .search-bar button{
  background-color: #ee626b;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 50px;
  width: 35%;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
.box-panel .search-bar button a{
  text-decoration: none;
  color: white;
}
.box-panel .search-bar button:hover{
  background-color: #008af8;
}
.img-content{
  padding: 16% 8%;
}
.img-content img{
  position: relative;
  border-radius: 20px;
}
.img-content .price-tag{
  position: absolute;
  background-color: #008af8;
  color: white;
  font-size: 20px;
  font-weight: 800;
  top: 35%;
  right: 9%;
  padding: 8px 14px;
  border-radius: 50px;
}
.img-content.discount{
  position: absolute;
  background-color: #ee626b;
  color: white;
  font-size: 26px;
  font-weight: 800;
  top: 93%;
  right: 30%;
  padding: 30px 15px;
  border-radius: 50%;
}
.features-system{
  display: flex;
  gap: 2%;
  width: 90%;
  margin: 0% 7%;
}
.features-system .feature-box{
  margin-top: -10%;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  width: 17%;
  height: 17vh;
  padding: 30px;  
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.features-system .feature-box h3{
  text-transform: uppercase;
  text-align: center;
}
.features-system .feature-box .icon-wrapper{
  background-color: #0071f8;
  border-radius: 50%;
  margin-top: 5%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
}
.features-system .feature-box .icon-wrapper img{
  width: 40px;
  height: 40px;
}
.features-system .feature-box:hover .icon-wrapper{
  background-color: #ee626b;
}
.features-system .feature-box:hover h3{
  color:#1e1e1e
}
.Trending-section {
  padding: 14% 7% 7%;
  font-family: 'Poppins', sans-serif;
}
.Trending-section .Trending-header {
  display: flex;
  justify-content: space-between;
}
.Trending-section .Trending-header .Trending-main h5 {
  text-transform: uppercase;
  color: #ee626b;
  font-weight: 800;
}
.Trending-section .Trending-header .Trending-main h1 {
  font-size: 36px;
  font-weight: 800;
  color: #1e1e1e;
}
.Trending-section .Trending-header .content-action {
  margin-top: 3%;
}
.Trending-section .Trending-header .content-action button {
  padding: 15px 25px;
  background-color: #ee626b;
  border-radius: 50px;
  border: none;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.Trending-section .Trending-header .content-action button:hover {
  background-color: #008af8;
}
.Trending-section .Trending-header .content-action button a {
  text-decoration: none;
  color: white;
}
.Trending-section .highlight-gallery {
  margin: 5% 0%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.Trending-section .highlight-gallery .gallery-card {
  position: relative;
}
.Trending-section .highlight-gallery .card-pricing {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #008af8;
  padding: 10px 15px;
  border-radius: 10px;
  color: white;
  text-align: right;
}
.Trending-section .highlight-gallery .card-pricing strike {
  font-size: 14px;
}
.Trending-section .highlight-gallery img {
  border-radius: 20px;
}
.Trending-section .highlight-gallery .gallery-card {
  background-color: #eeeeee;
  border-radius: 20px;
}
.Trending-section .highlight-gallery .gallery-card div {
  padding: 10px 20px;
}
.Trending-section .highlight-gallery .gallery-card div p {
  font-size: 14px;
  color: gray;
}
.Trending-section .highlight-gallery .gallery-card div h3 {
  margin-top: 3%;
  transition: 0.3s ease-in-out;
}
.Trending-section .highlight-gallery .gallery-card .card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Trending-section .highlight-gallery .gallery-card .card-details .cart-icon {
  padding: 12px;
  background-color: #ee626b;
  color: white;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.Trending-section .highlight-gallery .gallery-card:hover .cart-icon {
  background-color: #008af8;
}
.Trending-section .highlight-gallery .gallery-card:hover .card-details h3 {
  color: #008af8;
}
.games{
  padding: 14% 7% 7%;
  font-family: 'Poppins', sans-serif;
}
.games .games-header{
  display: flex;
  justify-content: space-between;
}
.games .games-header .cont-left h5{
  text-transform: uppercase;
  color: #ee626b;
  font-weight: 800;
}
.games .games-header .cont-left h1{
  font-size: 36px;
  font-weight: 800;
  color:#1e1e1e;
}
.games .games-header .cont-right{
  margin-top: 3%;
}
.games .games-header .cont-right button{
  padding: 15px 25px;
  background-color: #ee626b;
  border-radius: 50px;
  border: none;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.games .games-header .cont-right button:hover{
  background-color: #008af8;
}
.games .games-header .cont-right button a{
  text-decoration: none;
  color: white;
}
.games .games-gallery{
  margin: 5% 0%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.games .games-gallery .gallery-card{
  position: relative;
}
.games .games-gallery .card-prices{
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #008af8;
  padding: 10px 15px;
  border-radius: 10px;
  color: white;
  text-align: right;
}
.games .games-gallery .card-prices1 strike{
  font-size: 14px;
}
.games .games-gallery .card-prices3 strike{
  font-size: 14px;
}
.games .games-gallery img{
  border-radius: 20px;
}
.popular-games .games-gallery .gallery-card{
  background-color: #eeeeee;
  border-radius: 20px;
}
.games .games-gallery .gallery-card div{
  padding: 10px 20px;
}
.games .games-gallery .gallery-card div p{
  font-size: 14px;
  color: gray;
}
.games .games-gallery .gallery-card div h3{
  margin-top: 3%;
  transition: 0.3s ease-in-out;
}
.games .games-gallery .gallery-card .card-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.games .games-gallery .gallery-card .card-details .fa-bag-shopping{
  padding: 12px;
  background-color: #ee626b;
  color: white;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.games .games-gallery .gallery-card:hover .fa-bag-shopping{
  background-color: #008af8;
}
.games .games-gallery .gallery-card:hover .card-details h3{
  color: #008af8;
}
.head-categories{
  padding: 14% 7% 7%;
  font-family: 'Poppins', sans-serif;
}
.head-categories .head-categories-header{
  display: flex;
  justify-content: space-between;
}
.head-categories .head-categories-header .header-conten h5{
  text-transform: uppercase;
  color: #ee626b;
  font-weight: 800;
}
.head-categories .head-categories-header .header-conten h1{
  font-size: 36px;
  font-weight: 800;
  color:#1e1e1e;
}
.head-categories .head-categories-header .header-conten{
  margin-top: 3%;
}
.head-categories .head-categories-header .header-conten button{
  padding: 15px 25px;
  background-color: #ee626b;
  border-radius: 50px;
  border: none;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.head-categories .head-categories-header .header-conten button:hover{
  background-color: #008af8;
}
.head-categories .head-categories-header .header-conten button a{
  text-decoration: none;
  color: white;
}
.head-categories .head-categories-gallery{
  margin: 5% 0%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.head-categories .head-categories-gallery .gallery-card{
  position: relative;
}
.head-categories .head-categories-gallery .card-prices{
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #008af8;
  padding: 10px 15px;
  border-radius: 10px;
  color: white;
  text-align: right;
}
.head-categories .head-categories-gallery .card-prices1 strike{
  font-size: 14px;
}
.head-categories .head-categories-gallery .card-prices3 strike{
  font-size: 14px;
}
.head-categories .head-categories-gallery img{
  border-radius: 20px;
}
.head-categories .head-categories-gallery .gallery-card{
  background-color: #eeeeee;
  border-radius: 20px;
}
.head-categories .head-categories-gallery .gallery-card div{
  padding: 10px 20px;
}
.head-categories .head-categories-gallery .gallery-card div p{
  font-size: 14px;
  color: gray;
}
.head-categories .head-categories-gallery .gallery-card div h3{
  margin-top: 3%;
  transition: 0.3s ease-in-out;
}
.head-categories .head-categories-gallery .gallery-card .card-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head-categories .head-categories-gallery .gallery-card .card-details .fa-bag-shopping{
  padding: 12px;
  background-color: #ee626b;
  color: white;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.head-categories .head-categories-gallery .gallery-card:hover .fa-bag-shopping{
  background-color: #008af8;
}
.head-categories .head-categories-gallery .gallery-card:hover .card-details h3{
  color: #008af8;
}
.page-signup{
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-signup .product-image img{
  border-radius: 20px;
  position: relative;
}
.page-signup .store-info{
  position: absolute;
  left: 10%;
  top: 453%;
  background-color: #f7f7f7;
  padding: 5%;
  width: 23%;
  height: 50vh;
  border-radius: 20px;
}
.page-signup .store-info h4{
  color: #ee626b;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
}
.page-signup .store-info h1{
  font-size: 38px;
}
.page-signup .store-info h1 span{
  color:#0071f8;
}
.page-signup .store-info p{
  font-size: 17px;
  font-weight: 700;
  line-height: 1.8;
  color: #58514a;
}
.page-signup .store-info button{
  padding: 15px 30px;
  background-color: #ee626b;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}
.page-signup .store-info button:hover{
  background-color: #0071f8;
}
.page-signup .store-info button a{
  text-decoration: none;
  color: white;
}
.subscribe-section{
  position: absolute;
  right: 10%;
  top: 465%;
  background-color: #f7f7f7;
  padding: 5%;
  width: 23%;
  height: 38vh;
  border-radius: 20px;
}
.subscribe-section h4{
  color: #ee626b;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
}
.subscribe-section h1{
  font-size: 38px;
}
.subscribe-section h1 span{
  color:#0071f8;
}
.subscribe-section div{
  padding-left: 20px;
  background-color: white;
  border-radius: 50px;
  width: 103%;
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
}
.subscribe-section div:focus-within{
  outline: 4px solid #97c2f7;
}
.subscribe-section div input{
  border: none;
  outline: none;
  font-size: 14px;
}
.subscribe-section div button{
  padding: 15px;
  background-color: #ee626b;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}
.subscribe-section div button:hover{
  background-color: #0071f8;
}
.subscribe-section div button a{
  text-decoration: none;
  color: white;
}
footer{
  background-image: url(images/footer-bg.jpg);
  margin-top: 150px;
  background-color: #0071f8;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 150px;
  border-radius: 150px 150px 0px 0px;
}
footer p{
  text-align: center;
  line-height: 90px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  
}