body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 50px 0;
    text-align: center;
}

nav {
    background-color: #867c7c;
    overflow: hidden;
}

nav a {
    color: white;
    padding: 30px 40px;
    text-decoration: none;
    float: left;
}

nav a:hover {
    background-color: #ddd;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.main-content {
    width: 70%;
}

.sidebar {
    width: 25%;
    background-color: #f4f4f4;
    padding: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.article {
    margin-bottom: 20px;
}

.article h2 {
    font-size: 24px;
}

.article img {
    width: 70%;
    height: auto;
}

.sidebar h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
}

.sidebar ul li a:hover {
    color: #4CAF50;
}
